.contanner{
    position: relative;
    width: 15em;
    margin: 0 0.o;
}

.pic img{
    width: 100%;
}
.title{
    font-weight: bold;
    margin: 0 1em;
}

.channel, .views{
    font-size: small;
    color: #ccc;
    margin-bottom: 0.2em;
}

.views span{
    padding: 0 0.5em;
}

.close{
    position: absolute;
    right: 0px;
}

.edit{
    position: absolute;
    left: 0px;
}

